// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import 'datatables';
@import 'voting';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body, wrapper {
  min-height:100vh;
}

.flex-fill {
  flex:1 1 auto;
}

.footer {
  width: 100%;
  background-color: #f5f5f5;
  padding: 0.8rem 0;
  font-size: 0.8rem;
}

table.table-xs {
  font-size: 0.8rem;

  td, th {
    padding: 0.1rem 0.4rem;
  }

  .btn {
    padding: 0 0.5rem;
  }
}

.table-lookaround-setlist-entries-only-five {
  tr.more-than-five {
    display: none;

    &.show {
      display: table-row;
    }
  }
}

.page-setlist-index .setlist-tracks {
  font-size: 0.8em;
}

.page-setlist-index .card-title {
  margin-bottom: 0.4rem;
}

.setlist-page-header {
  height: 200px;

  background-color: #17263c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.fancy-text-bg {
  background: whitesmoke;
  padding: 0.1rem 0.3rem;
}

.setlist.list-group {
  li {
    padding: 0.4rem 1.25rem;
  }
}

#mainStatisticsTable {

  span.table-spotify-icon, span.table-lastfm-icon {
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
  }

  span.table-spotify-icon {
    background-image: url('/images/icon_spotify.png');
    width: 15px;
    height: 15px;
  }

  span.table-lastfm-icon {
    background-image: url('/images/icon_lastfm.png');
    width: 20px;
    height: 11px;
  }

  &.table-striped {
    tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.03);

      &:hover {
        background-color: rgba(0, 0, 0, 0.075);
      }
    }
  }

}


.song-page {
  .blur-head-bg {
    border-bottom: 1px solid #dee2e6;
  }

  .album-img {
    height: 200px;
  }

  .header-text {
    min-height: 200px;

    > .row {
      min-height: inherit;
    }

    h1, h6 {
      background: #eeeeee;
      padding: 0.2rem 0.8rem;
      // https://css-tricks.com/injecting-line-break/
      display: table;
    }

    .album-artwork-img {
      width: 150px;
      height: 150px;
    }
  }

  .album-img {
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;

    img {
      width: 100%;
      transform: scale(1.04);
      filter: blur(15px) grayscale(70%);
      opacity: 0.45;
    }
  }
}

.user-voting-history {
  .skipped-vote {
    text-decoration: line-through;
    color: #b5b5b5;
  }
}

@include media-breakpoint-down(xs) {
  .song-page {
    .header-text {
      h1 {
        font-size: 1.35rem;
      }

      .album-artwork-img {
        width: 75px;
        height: 75px;
      }
    }
  }
}